<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:component-scan base-package="bootcamp.joseroth.conexion" />
    <context:component-scan base-package="bootcamp.joseroth.modelos" />
    <context:component-scan base-package="bootcamp.joseroth.servicios" />
    <context:component-scan base-package="bootcamp.joseroth.dao" />
    <context:component-scan base-package="bootcamp.joseroth.servicioclima" />
    
    <bean id="servicioclima" class="bootcamp.joseroth.servicioclima.ServicioClima" />
   
    <bean id="atmosferadao" class="bootcamp.joseroth.dao.AtmosferaDAO" />
    <bean id="vientodao" class="bootcamp.joseroth.dao.VientoDAO" />
    <bean id="ubicaciondao" class="bootcamp.joseroth.dao.UbicacionDAO" />
    <bean id="pronosticodao" class="bootcamp.joseroth.dao.PronosticoDAO" />
    <bean id="pronosticoextendidodao" class="bootcamp.joseroth.dao.PronosticoExtendidoDAO" />
    
    <bean id="conexion" class="bootcamp.joseroth.conexion.Conexion">
        <!--
        <property name="URL" value="jdbc:mysql://localhost:3306/"/>
        <property name="DB" ref="ServicioClima"/>
        <property name="USESSL" value="?&useSSL=false"/>
        <property name="USUARIO" value="root"/>
        <property name="PASSWORD" value="1234"/>
        -->
    </bean>
    
    <bean id="sqldatamanipulation" class="bootcamp.joseroth.servicios.SQLDataManipulation" />
    <bean id="serviciobd" class="bootcamp.joseroth.servicios.ServicioBD" />
    <bean id="utils" class="bootcamp.joseroth.servicios.Utils" />
        
</beans>
